:root {
  /* Colors */
  --primary-color: #8b53ff;
  --dark-purple: #422cb3;
  --light-purple: #ca6de8;
  --heading-purple: #1e1466;
  --background-color: #fdfdfd;
  --button-hover-bg: #f2f0f7;
  --card-bg: #e0d5e3;
  --faq-bg: #eadfff;
  --light-text-color: grey;
  --white-color: white;
}
